.containerCred{
    display: flex;
    width: 100%;
}
.dataCadCred{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: auto;
    /* background-color: #f9e1e1; */
    overflow-y: scroll;
}
.dataformCred{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ffffff;
    color: slategrey;
    /* margin:0 auto;
    margin-top: 50px; */
    border-radius: 10px;
}
.dataCadCred .dataformCred section{
    display: flex;
    width: 100%;
    font-weight: 600;
    text-align: center;
    /* justify-content: center; */
    /* align-items: center; */
    margin-bottom:50px;
} 
.dataCadCred .dataformCred section p {
    width: 100%;
}
.dataformCred label input{
    width: 450px;
    height: 30px;
    margin: 15px;
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    border-color: rgb(179, 165, 165);
}
label{
    font-weight: 600;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
header{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
header input{
    width: 90%;
    height: 35px;
    margin: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    color: black;
}
/*  */
.submitCred{
    height: 30px;
    width: 120px;
    /* margin-left: 20px; */
    margin: 0 auto;
    background-color: #ff0000;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    margin-top: 40px;
}