.containerMetricas{
    display: flex;
    width: 100%;
}
.clientesMetricas{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
}
.dataCadMetricas{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: auto;
    overflow-y: scroll; 
}
.dataCadCadastro{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    height: auto;
}
.dataformMetricas{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ffffff;
    color: slategrey;
    border-radius: 10px;
}
.dataCadMetricas .dataformMetricas section{
    display: flex;
    width: 100%;
    font-weight: 600;
    justify-content: center;
    align-items: center;
} 
.dataCadMetricas .dataformMetricas section input{
    height: 30px;
    width: 80px;
    margin-left: 20px;
    background-color: #ff0000;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}
.dataformMetricas label input{
    width: 345px;
    height: 30px;
    margin: 15px;
    background-color: #ffffff;
    color: black;
    font-size:larger;
    border-radius: 10px;
    border-color: rgb(179, 165, 165);
}
label{
    font-weight: 600;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.sectionForm{
    width: 100%;
}
header{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
header input{
    width: 90%;
    height: 35px;
    margin: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    color: black;
}
.btnName{
    background-color: #ffffff;
    width: 70%;
    height: 35px;
    border-radius: 8px;
    color: black;
    font-weight: 600;
    font-size: larger;
}
.submitMetricas{
    width: 100%;
    margin-bottom: 25px;
}
.submitMetricas input{
    background-color: #ff0000;
    border: none;
    border-radius: 8px;
    width: 75px;
    height: 30px;
    font-size: large;
}
details{
    border: #ff0000 3px;
}
summary{
    width: 100%;
    height: 35px;
    margin: 5px;
    font-size: larger;
    cursor: pointer;
    background-color: #ffffff;
    text-align: center;
    border-radius: 8px;
    border: solid black 1px;
}