.container{
    display: flex;
    width: 100%;
}
.dataCad{
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    overflow-y: scroll; 
}
.dataform{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #ffffff;
    color: #708090;
    border-radius: 10px;
}
.dataCad .dataform section{
    display: flex;
    width: 70%;
    font-weight: 600;
    align-items: center;
    justify-content: space-between;
    margin-bottom:30px;
}
.dataCad .dataform section button{
    background-color: #ff0000;
    font-weight: 600;
    display: flex;
} 
header{
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
header input{
    width: 90%;
    height: 35px;
    margin: 15px;
    border-radius: 10px;
    background-color: #ffffff;
    color: #708090;
}
.clientes{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sectionList{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #708090;
    font-weight: 600;
    font-size: larger;
    margin: 5px;
    border:solid #708090 1px;
    border-radius: 8px;
    height: 40px;
}

.clientes section button{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #ff0000;
    width: 35px;
    height: 30px;
    justify-content: center;
    align-items: center;
}